{% extends 'accounts/_account_base.html' %}

{% block title %}
ثبت نام
{% endblock %}

{% block form %}
<form class="signup" method="POST" autocomplete="off">
    <h1>ساخت حساب کاربری</h1>
    <h2>حساب کاربری دارید؟ <a href="{% url 'login' %}" style="color: #a4243b">ورود</a></h2>
    {% csrf_token %}
    <div class="signup__field">
        {{ form.username }}
        <label class="signup__label" for="username">نام کاربری</label>
    </div>
    <div class="signup__field">
        {{ form.email }}
        <label class="signup__label" for="username">ایمیل</label>
    </div>
    <div class="signup__field">
        {{ form.password }}
        <label class="signup__label" for="password">رمز عبور</label>
    </div>
      <div class="signup__field">
    {{ form.confirm_password }}
    <label class="signup__label" for="username">تکرار رمز عبور</label>
  </div>
    <button type="submit">ثبت نام</button>
</form>
{% endblock %}


{% block error %}
{% if error %}
    <script>
        toastr.options.closeButton = true;
        toastr.options.progressBar = true;
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.options.rtl = true;
        toastr.error('{{ error }}')
    </script>
{% endif %}
{% endblock %}