@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}

body {
  background-color: #055864;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input {
  border: none;
  outline: none;
}

a:link, a:visited {
  color: #3185FC !important;
}
a:active, a:hover {
  color: #055864 !important;
}

/****************
      FORM
*****************/
.signup {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  color: #3185FC;
}
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;

  margin-bottom: 40px;
}

h2 span {
  text-decoration: underline;
  cursor: pointer;
  color: #3185FC;
}

/*  Field */
.signup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.signup__field:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #3185FC;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__field:hover:before {
  width: 100%;
}

/*  Input */
.signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 10px 2px 0;
  border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}

/*  Button */
button {
  background: #3185FC;
  color: white;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #055864;
}

.toast-title, .toast-message {
  font-size: 0.8em !important;
}

/****************
      MENU
*****************/

.menu {
  height: 100vh;
  width: 20%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  position: fixed;
  right: 0px;
  z-index: 0;
  transition: 1s;
  overflow: hidden;
}

.menu h1 {
  margin-bottom: 32px;
  padding: 20px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
  height: 32px;
}

.menu h2 {
  margin: 12px;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  z-index: 2;
}

.menu a:link,
.menu a:visited {
  color: white;
  text-decoration: none;
}

.line {
  height: 4px;
  width: 40px;
  top: 0;
  background-color: white;
  transition: 1s;
  position: absolute;
}

.two {
  top: 12px;
}

.three {
  top: 24px;
}

.hamburger {
  margin: 38px;
  position: fixed;
  top: 4%;
  right: 2%;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
  width: 40px;
  z-index: 1;
}
.open .line {
  background-color: #055864;
}

@media screen and (max-width: 650px) {
  .hamburger, .menu {
    display: none;
  }
}