<br>
<hr>
        <!-- Footer -->
        <footer class="container py-5">
            <div class="row">
              <div class="col-12 col-md">
                  <h5>فروشگاه کتاب</h5>
                  <p class="text-right text-muted" style="font-size: 0.8em;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <small class="d-block mb-3 text-muted text-center">کپی رایت &copy; 2020</small>
              </div>
              <div class="col-6 col-md text-center">
                <h5>قابلیت‌ها</h5>
                <ul class="list-unstyled text-small text-right">
                  <li><a class="text-muted" href="#">زیرمنوی اول</a></li>
                  <li><a class="text-muted" href="#">زیرمنوی دوم</a></li>
                  <li><a class="text-muted" href="#">زیرمنوی سوم</a></li>
                  <li><a class="text-muted" href="#">زیرمنوی چهارم</a></li>
                  <li><a class="text-muted" href="#">زیرمنوی پنجم</a></li>
                  <li><a class="text-muted" href="#">زیرمنوی ششم</a></li>
                </ul>
              </div>
              <div class="col-6 col-md text-center">
                <h5>منابع</h5>
                <ul class="list-unstyled text-small text-right">
                    <li><a class="text-muted" href="#">زیرمنوی اول</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی دوم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی سوم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی چهارم</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md text-center">
                <h5>کتاب‌ها</h5>
                <ul class="list-unstyled text-small text-right">
                    <li><a class="text-muted" href="#">زیرمنوی اول</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی دوم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی سوم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی چهارم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی پنجم</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md text-center">
                <h5>درباره ما</h5>
                <ul class="list-unstyled text-small text-right">
                    <li><a class="text-muted" href="#">زیرمنوی اول</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی دوم</a></li>
                    <li><a class="text-muted" href="#">زیرمنوی سوم</a></li>
                  </ul>
              </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="main.js"></script> <!-- Static -->
</body>
</html>